
* {
    box-sizing: border-box;
}
body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("../images/128-169.jpg");
    /*color: white;*/


}
p{
    padding:5px;
}
h2{
    text-align: center;
    font-size: 25px;
    color: grey;

}
h1{
    text-align: center;
    color: yellow;
}

.question{
    background-color: grey;
}
.selected{
    background-color: blue;
    color: yellow;
}
.answers0, .answers1, .answers2, .answers3, .answers4, .answers5, .answers6, .answers7, .answers8, .answers9{
    text-align: center;
    font-size: 20px;
    color: white;




}

#submit{
    text-align: center;
    background-color: orange;
    font-size: 40px;

}
.results{
    font-size: 50px;
    text-align: center;
    padding-bottom: 50px;

}
#right{
    color:green;
}
#notright{
    color:red;
}
.hidden{
    display:none;
}
#logo{

    text-align: center;

}
.initiate{
    text-align: center;
    margin-top: 30px;
}
#init{
    text-align: center;
    font-size: 30px;
    color:white;
}
.reinit{
    color:white;
    font-size: 30px;
    color:white;
    text-align: center;
}
#wins{
    font-size: 20px;


}
#losses{
    font-size: 20px;
}
.status{
    font-size: 25px;

}

.current{
    font-size: 30px;
    color: grey;

}

#random-number{
    color:white;
}

.tubbies{

   height:200px;
   align-content: center;
   
   padding: 0px;

}

.vals{
    font-size: 20px;
    text-align: center;

}

.tellys{
    margin-top: 10px;
    text-align: center;
}

#scoreboard{
    margin-top:10px;

    font-size: 400px;

}

#currentscore{
    color:white;
}

#intro{
    font-size: 16px;
    background-color: lightgoldenrodyellow;
    border: solid;
    border-color: darkorange;
}




